{% extends 'base.html' %}
{% block title %}Mis Boletas{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="row"  style="background-color: #fff;">
	<div class="col-12" style="overflow-x:auto;">
		<main style="width: 1000px; margin: 25px auto; padding-bottom: 25px">
			<h2 class="major"><span>Boletas de {{user.first_name}}</span></h2>
			<table style="width: 100%;">
				<tr>
					<th style="border-bottom: 5px solid #e7eae8; padding: 1em; vertical-align: middle; text-align: center; font-weight: bold;">
						Fecha de Emisión
					</th>
					<th style="border-bottom: 5px solid #e7eae8; padding: 1em; vertical-align: middle; text-align: center; font-weight: bold;">
						Valor
					</th>
					<th style="border-bottom: 5px solid #e7eae8; padding: 1em; vertical-align: middle; text-align: center; font-weight: bold;">
						Médico
					</th>
					<th style="border-bottom: 5px solid #e7eae8; padding: 1em; vertical-align: middle; text-align: center; font-weight: bold;">
						Especialidad
					</th>
					<th style="border-bottom: 5px solid #e7eae8; padding: 1em; vertical-align: middle; text-align: center; font-weight: bold;">
						Sucursal
					</th>
					<th style="border-bottom: 5px solid #e7eae8; padding: 1em; vertical-align: middle; text-align: center; font-weight: bold;">
						Imprimir Boleta
					</th>
				</tr>
				{% for item in boletas %}
				<tr> 
					<td style="border-bottom: 5px solid #e7eae8; padding: 1em; vertical-align: middle; text-align: center;">
						{{ item.emision }}
					</td>
					<td style="border-bottom: 5px solid #e7eae8; padding: 1em; vertical-align: middle; text-align: center;">
						&dollar; {{ item.valorTotal }}
					</td>
					<td style="border-bottom: 5px solid #e7eae8; padding: 1em; vertical-align: middle; text-align: center;">
						{{ item.horaAtencion.medico }}
					</td>
					<td style="border-bottom: 5px solid #e7eae8; padding: 1em; vertical-align: middle; text-align: center;">
						{{ item.horaAtencion.especialidad }}
					</td>
					<td style="border-bottom: 5px solid #e7eae8; padding: 1em; vertical-align: middle; text-align: center;">
						{{ item.horaAtencion.sucursal }}
					</td>
					<td style="border-bottom: 5px solid #e7eae8; padding: 1em; vertical-align: middle; text-align: center;">
						<a style="color: white; text-decoration: none; display: inline-block;" href="#">
							<input type="button" value="Imprimir">
						<a>
					</td>
				</tr>
				{% endfor %}
			</table>
		</main>
	</div>
</div>
{% endblock %}